doctype html
html(lang="ru")
	include _components/_head/_head.pug	
	body
		.wrapper
			include _components/_layout/_header.pug
			main.maincontent
				include _components/_chunks/_banner.pug
			include _components/_layout/_footer.pug