footer.header
  .container
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolor officiis dicta repudiandae provident fuga excepturi aspernatur nemo eius iusto blanditiis, mollitia pariatur! Omnis provident suscipit voluptates, pariatur eligendi velit.
script(src='assets/js/scripts.min.js')